qdrant-client
langchain
pymupdf
numpy
regex
torchvision
torchaudio
python-docx
fastapi
python-multipart
uvicorn
einops
transformers
sentence-transformers
python-dotenv
pytesseract
pdf2image
google-generativeai
paddlepaddle
paddleocr
easyocr